<nav class="c-navbar">
    <div class="c-navbar-log">
        <a href="index.html" class="c-log"><span style="color: #29cbce;">port</span>folio</a>
    </div>
    <div class="c-navbar-links" id="mobile-menu">
        {% assign current = page.url | split: '/' %}
        <ul class="c-navbar-ul">
            {% for item in site.data.navigation %}
                <li {% if current[1] == item.link %}class="current"{% endif %}>
                    <a href="{{ item.link }}">
                {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>