body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    outline: 0;
}
p, li, a, h1, h2, h3, h4, h5, h6 {
    line-height: 1.7;
    color: #142033;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.c-content {
    padding: 0 2rem;
    margin-top: 1.5rem;
}
.c-navbar {
    background: #142033;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    a {
        display: inline-block;
        padding: 1rem 2rem;
        color: #fff;
        text-decoration: none;
        outline: 0;
        margin: -11px 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .c-log {
        font-size: 2rem;
        font-weight: 700;
    }
}
.c-navbar-links ul {
    padding: 0;
    margin: 0;
}
.c-navbar-links ul li {
    padding: 14px 0;
}
.c-navbar-links ul li a {
    font-size: 1rem;
}
.c-navbar-links a:hover {
    transition: 0.3s all;
    color: #29cbce;
}
.current {
    color: #29cbce !important;
    border-bottom: 4px solid #29cbce;
}
.c-main {
    h1 {
        text-align: center;
    }
    .c-main-ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 33%;
            margin-bottom: 2rem;
            a {
                text-decoration: none;
                outline: 0;
                h2 {
                    text-align: center;
                }
                p {
                    text-align: center;
                    padding: 0 2rem;
                    // text-align: left;
                }
            }
        }
    }
    .c-main-h2 {
        margin: 0;
    }
    .c-main-a {
        transition: 0.3s all;
        overflow: hidden;
        img {
            transition: 0.3s all;
        }
    }
    .c-main-a:hover {
        background: #f0f0f0;
        // border: 1px solid #142033;
        transition: 0.3s all;
        border-radius: 15px;
    }
    .c-main-a:hover img {
        // transform: scale(1);
        transition: 0.3s all;
    }
}
.c-image {
    min-width: 200px;
    max-width: 300px;
    display: block;
    margin: 1rem auto;
    min-height: 100px;
    max-height: 200px;
    height: 100%;
    border-radius: 15px;
    background: #f0f0f0;
    padding: 20px;
}
.c-profile {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    h2, h3 {
        text-align: center;
        margin: 0;
        margin-top: 1rem;
    }
    .c-profile-img {
        min-width: 200px;
        max-width: 250px;
        width: 100%;
        margin: auto;
        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            margin: 0 10px;
            outline: 0;
        }
    }
}
.c-blog {
    padding: 0;
    list-style-type: disclosure-closed;
    margin-left: 1.1rem;
    .c-blog-h2 {
        margin-bottom: 0;
    }
    p {
        margin: 10px 0;
    }
    a {
        transition: 0.3s ease;
    }
    h2 {
        a:hover {
            color: #29cbce;
            transition: 0.3s ease;
            border-bottom: 1px solid #29cbce;
        }
    }
}
.blockquote {
    background: #142033;
    color: #fff;
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem 0;
    border-left: 8px solid #29cbce;
    border-radius: 0 10px 10px 0;
    overflow-x: auto;
    pre {
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        font-size: 0.9rem;
        .kd, .nt {
            color: #29cbce;
        }
        .nx, .cp, .na {
            color: #ea9a2a;
        }
        .s {
            color: #e8e66d;
        }
    }
}
strong {
    a {
        transition: 0.3s ease;
    }
    a:hover {
        color: #29cbce;
        transition: 0.3s ease;
    }
} 
.c-blog-h5 {
    color: #ccc;
    margin: 0;
}
footer {
    text-align: center;
    p {
        margin-bottom: 1rem 0 0.8rem 0;
        font-size: 0.8rem;
    }
}

@media (min-width: 758px) and (max-width: 991px) {
    .c-main .c-main-ul li {
        max-width: 50%;
        padding: 1rem 2rem;
    }
    .c-main .c-main-ul li a p {
        padding: 0;
    }
    .c-image {
        background: none;
    }
    .c-image {
        // width: 150px;
        min-width: auto;
        max-width: none;
        background: none;
        // max-height: 220px;
        padding: 0;
    }
    .c-main .c-main-a:hover img {
        transform: none;
    }
    .c-main .c-main-a p {
        margin: 0;
    }
    .c-main .c-main-a:hover {
        background: none;
    }
}

@media (min-width: 576px) and (max-width: 757px) {
    #mobile-menu-toggler {
        height: 100% !important;
    }
    .c-navbar-ul {
        position: absolute;
        top: 65px;
        background: #142033;
        width: 60%;
        right: 0;
        text-align: center;
        border-radius: 0 0 0 10px;
    }
    .c-navbar {
        justify-content: space-between;
    }
    .c-navbar-ul li {
        border-bottom: 2px solid #29cbce;
        border-radius: 0 0 0 10px;
    }
    .c-navbar-ul li a {
        display: block;
        transition: 0.3s ease;
        border-radius: 0 0 0 10px;
    }
    .c-navbar-ul li a:hover {
        transition: 0.3s ease;
        background: #29cbce;
        color: #fff;
        border-radius: 0 0 0 10px;
    }
    #mobile-menu-toggler:hover {
        background: #f0f0f0;
    }
    .mobile-menu-text {
        display: none;
    }
    .c-main .c-main-ul {
        display: block;
    }
    // .c-main .c-main-h2 {
    //     margin: 0.8rem 0;
    // }
    .c-main .c-main-ul li {
        display: block;
        max-width: 100%;
        text-align: center;
        border: 1px solid #142033;
        border-radius: 10px;
        padding: 1rem;
    }
    .c-main .c-main-ul li a p {
        padding: 0;
    }
    .c-image {
        width: 150px;
        background: none;
        max-height: 220px;
        padding: 0;
    }
    .c-main .c-main-a:hover img {
        transform: none;
    }
    .c-main .c-main-a p {
        margin: 0;
    }
}

@media (max-width: 575px) {
    .c-content {
        padding: 0 1rem;
    }
    #mobile-menu-toggler {
        height: 100% !important;
    }
    .c-navbar-ul {
        position: absolute;
        top: 65px;
        background: #142033;
        width: 100%;
        right: 0;
        text-align: center;
        border-radius: 0 0 0 10px;
    }
    .c-navbar {
        justify-content: space-between;
        padding: 0;
    }
    .c-navbar-ul li {
        border-bottom: 2px solid #29cbce;
        border-radius: 0 0 0 10px;
    }
    .c-navbar-ul li a {
        display: block;
        transition: 0.3s ease;
        border-radius: 0 0 0 10px;
    }
    .c-navbar-ul li a:hover {
        transition: 0.3s ease;
        background: #29cbce;
        color: #fff;
        border-radius: 0 0 0 10px;
    }
    #mobile-menu-toggler:hover {
        background: #f0f0f0;
    }
    .mobile-menu-text {
        display: none;
    }
    .c-main .c-main-ul {
        display: block;
    }
    // .c-main .c-main-h2 {
    //     margin: 0.8rem 0;
    // }
    .c-main .c-main-ul li {
        display: block;
        max-width: 100%;
        text-align: center;
        border: 1px solid #142033;
        border-radius: 10px;
        padding: 1rem;
    }
    .c-main .c-main-ul li a p {
        padding: 0;
    }
    .c-image {
        width: 150px;
        background: none;
        max-height: 220px;
        padding: 0;
    }
    .c-main .c-main-a:hover img {
        transform: none;
    }
    .c-main .c-main-a p {
        margin: 0;
    }
    .c-blog h2 a {
        color: #29cbce;
        border-bottom: 1px solid #29cbce;
    }
}